# Telegram
TELEGRAM_TOKEN=seu_token_aqui
ADMINS=1693264743,820571529,454348064
USUARIOS_JSON={"1516907824":"Rene Filho","6187034216":"Diego Ribeiro","1218173289":"Felipe Silva","7466797293":"Mateus Accioly","8154116058":"Lucas Dias","1693264743":"Matheus Eduardo"}


# Jira
JIRA_BASE_URL=https://suaempresa.atlassian.net
JIRA_USER=seu_email@empresa.com
JIRA_PASSWORD=sua_api_token
JIRA_ID_TECNICO=customfield_10623

# Google
GOOGLE_CREDENTIALS_FILE=credentials.json


